body{
	background-color: #e0d240;
}
.headline{
	text-align: center;
	font-size: 48px;
	font-weight:bold;
	font-family: 'Almendra SC', serif;
}

.article{
    
    max-width: 800px;
    margin:0 auto;
}

.full{
    box-shadow: 2px 2px 12px 7px;
    background-color: white;
    padding-left: 15px;
    padding-top: 15px;
    padding-right:15px;
    padding-bottom: 20px;
    
}

.para{
	font-family: 'Aguafina Script', cursive;
 font-size:22px;
}

#comments{
	font-size:20px;
	font-weight: bold;
	font-family: 'Almendra SC', serif;
	margin-bottom: 15px;
	padding-bottom: 5px;
 
}


#comments p{
	padding-top: 2px;
	padding-bottom: 2px;
	
	margin-bottom: 1px;
	margin-top: 1px;
}

#comments hr{
	margin-top:1px;
	margin-bottom: 1px;
}
