
body{
text-align:center;
background:url(" https://i.ytimg.com/vi/ETDz5z46Loo/maxresdefault.jpg  ");
background-size:cover;
background-position:center;
color:white;
}
img{
margin:40px 0px 0px 0px;
border:7px blue;
}
span
{
color:#ffd480;
}
input
{
padding:10px;

}
input[type="submit"]
{
background:red;
color:white;
}
li
{display:inline;
padding:0px 10px 0px 10px;
}
ul{
background:#fdc450;
height:30px;
font-size:20px;
}
li
{display:inline;
padding:0px 10px 0px 10px;
}

h4
{
background:black;
height:30px;
}

a{
color:green;
position:relative;
}
#f{
position:relative;
}
.container{
  margin: 0 auto;
  max-width:800px;
  position:absolute;
  padding:50px;
  color:red;
}
#a{
    position:relative;
    margin-right:300px;
}

